@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    padding: 0;
    margin: 0;
}

#aboutSection{
    background: #EFF2F3;
    background-image: url(/Desert.png);
    background-position: bottom;
    background-position-y: -100px;
    background-size: 100vw;
    background-repeat: no-repeat;
}

#menu{
    z-index: 1;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 285px;
    height: 288px;
    left: 50%;
    top: 0px;
    background: #F2AD8C;
    margin-left: 285px;
    margin-right: auto;
}

#menu ul{
    list-style: none;
    padding: 0;
    margin: 117px auto auto auto;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: #EFF2F3;
}

#menu li{

}

#menu a{
    color: #EFF2F3;
    text-decoration: none;
}

#menu a:hover{
    text-decoration: underline;
}

#nameAndAbout{
    display: flex;
    position: absolute;
    width: 1140px;
    height: 314px;
    top: 292px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#nameHeader{
    width: 475px;
}

#nameHeader h1{
    margin: 0;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 104px;
    color: #33444C;
}

#aboutParagraph{
    width: 665px;
}

#aboutParagraph p{
    
    margin-top: 120px;
    margin-bottom: 0;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 48px;
    color: rgba(51, 68, 76, 0.8);
}

#projectsSection{
    background: #EFF2F3;
    padding: 1px 0 0 0;
    margin: -1px auto -1x auto;
    overflow: auto;
}

.projectBlock{
    display: flex;
    width: 1140px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 136px;
}

#lastProject{
    margin-bottom: 136px;
}

.imgProject{
    height: 360px;
    width: 50%;
}

.textProject{
    width: 50%;
    margin-right: 0;
    padding-left: 95px;
}

.textProject h2{
    margin: 0;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #33444C;
}

.textProject p{
    margin-top: 18px;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 68, 76, 0.8);
}

.btnSeeMore{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 168px;
    background: #EC9D79;
    border: 2px solid #F7D7C5;
    box-sizing: border-box;
    box-shadow: 6px 6px 0px #F7D7C5;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    letter-spacing: 0.085em;
}

.btnSeeMore a{
    color: #EFF2F3;
    text-decoration: none;
}

.btnSeeMore:hover{
    text-decoration: underline;
}

#contactSection{
    background: #EFF2F3;
    background-image: url(/Desert.png);
    background-position: bottom;
    background-position-y: -100px;
    background-size: 100vw;
    background-repeat: no-repeat;
}

#formAndInfo{
    display: flex;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}


form{
    width: 760px;
    background: #CCDAE0;
    margin-top: 40px;
}

form h3{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 37.5px;
    line-height: 48px;
    color: #33444C;
    margin: 59px 95px 0 95px;
}


form input, textarea{
    width: 570px;
    padding: 0;
    margin-left: auto;
    background: #EFF2F3;
    border-style: none;
    margin: 40px 95px 0 95px;
}

::placeholder{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(51, 68, 76, 0.8);
    padding-left: 16px;
}

#name, #email{
    height: 56px;
}

#message{
    height: 148px;
    padding-top: 12px;
}

#divBtnSend{
    margin: 0 95px 0 95px;
}

#btnSend{
    margin: 40px auto 64px 200px;
    height: 48px;
    width: 168px;
    left: 0px;
    top: 0px;
    background: #EFF2F3;
    border: 3px solid #33444C;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.085em;
    color: #33444C;
}

#btnSend:hover{
    text-decoration: underline;
}

::value{
    text-align: center;
}

#contactInfo{
    width: 428px;
    margin-bottom: 145px;
    margin-top: auto;
}

#divNameAndTitle{

}

#divContactInfo{

}

#contactInfo h2{
    margin-left: 95px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #33444C;
}

#contactInfo h4{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    color: #33444C;
    margin: 5px auto 0 95px;
}

#contactInfo ul{
    padding: 0;
    list-style: none;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 68, 76, 0.8);
    margin: 19px auto 0 95px;
}

footer{
    height: 104px;
}

/*Tablet Horizontal*/
@media only screen and (max-width: 1199px){
    
    #menu{
        width: 240px;
        height: 248px;
        left: 50%;
        top: 0px;
        background: #F2AD8C;
        margin-left: 240px;
        margin-right: auto;
    }
    
    #menu ul{
        margin: 86px auto auto auto;
        font-size: 17.5px;
        line-height: 40px;
        letter-spacing: 0.03em;
    }
    
    #nameAndAbout{
        display: flex;
        position: absolute;
        width: 960px;
        height: 314px;
        top: 248px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    #nameHeader{
        width: 475px;
    }
    
    #nameHeader h1{
        font-size: 101px;
        line-height: 96px;
    }
    
    #aboutParagraph{
       
    }
    
    #aboutParagraph p{
        width: 559px;
        margin-top: 112px;
        font-size: 24px;
        line-height: 48px;
    }
    
    #projectsSection{
        background: #EFF2F3;
        padding: 1px 0 0 0;
        margin: -1px auto -1x auto;
        overflow: auto;
    }
    
    .projectBlock{
        display: flex;
        width: 960px;
        height: 304px;
        margin: 95px auto 0 auto;
    }
    
    #lastProject{
        margin-bottom: 95px;
    }
    
    .imgProject{
        height: 303.16px;
        width: 50%;
    }
    
    .textProject{
        width: 50%;
        margin-right: 0;
        padding-left: 80px;
    }
    
    .textProject h2{
        font-size: 28px;
    }
    
    .textProject p{
        margin-top: 14px;
        font-size: 16px;
        line-height: 24px;
    }
    
    #contactSection{
        background: #EFF2F3;
        margin: 0;
        background-image: url(/Desert.png);
        background-position: bottom;
        background-position-y: -100px;
        background-size: 100vw;
        background-repeat: no-repeat;
    }
    
    #formAndInfo{
        width: 960px;
    }
    
    form{
        width: 560px;
        background: #CCDAE0;
        margin-top: 40px;
    }
    
    form h3{
        font-size: 26px;
        line-height: 32px;
        color: #33444C;
        margin: 50px 80px 0 80px;
    }
    
    
    form input, textarea{
        width: 400px;
        margin: 24px 80px 0 80px;
    }
    
    ::placeholder{
        font-size: 16px;
        color: rgba(51, 68, 76, 0.8);
        padding-left: 16px;
    }
    
    #name, #email{
        height: 56px;
    }
    
    #message{
        height: 128px;
        padding-top: 12px;
    }
    
    #divBtnSend{
        margin: 0 80px 0 80px;
    }
    
    #btnSend{
        margin: 24px auto 40px 117px;
    }
    
    #contactInfo{
        width: 400px;
        margin-bottom: 110px;
        margin-top: auto;
    }
    
    #contactInfo h2{
        margin-left: 80px; 
        font-size: 28px;
    }
    
    #contactInfo h4{
        font-size: 22px;
        text-transform: uppercase;
        margin: 5px auto 0 80px;
    }
    
    #contactInfo ul{
        font-size: 16px;
        line-height: 32px;
        margin: 12px auto 0 80px;
    }
    
    footer{
        height: 72px;
    }
}

/*Tablet Verticle*/
@media only screen and (max-width: 991px){
    
    #aboutSection{
        height: 704px;
        background-position: bottom;
        background-size: 100vw;
    }
    
    #menu{
        width: 180px;
        height: 176px;
        left: 50%;
        top: 0px;
        margin-left: 180px;
        margin-right: auto;
    }
    
    #menu ul{
        margin: 50px auto auto auto;
        font-size: 17.5px;
        line-height: 32px;
        letter-spacing: 0.02em;
 
    }
    
    
    #nameAndAbout{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        width: 720px;
        height: 314px;
        top: 177px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    #nameHeader{
        width: 475px;
        margin: 0 auto 0 0;
    }
    
    #nameHeader h1{
        font-size: 94.5px;
        line-height: 80px;
        color: #33444C;
    }
    
    #aboutParagraph{
       
    }
    
    #aboutParagraph p{
        width: 479px;
        margin: 48px 0 0 auto;
        font-size: 20px;
        line-height: 40px;
    }
    
    .projectBlock{
        display: flex;
        width: 720px;
        height: 229px;
        margin: 95px auto 0 auto;
    }
    
    #lastProject{
        margin-bottom: 95px;
    }
    
    .imgProject{
        height: 227.37px;
        width: 50%;
    }
    
    .textProject{
        width: 50%;
        margin-right: 0;
        padding-left: 60px;
    }
    
    .textProject h2{
        font-size: 24px;
    }
    
    .textProject p{
        margin-top: 7px;
        font-size: 14px;
        line-height: 24px;
    }
    
    #contactSection{
        background: #EFF2F3;
        margin: 0;
        background-image: url(/Desert.png);
        background-position: bottom;
        background-position-y: -100px;
        background-size: 100vw;
        background-repeat: no-repeat;
    }
    
    #formAndInfo{
        width: 720px;
    }
    
    form{
        width: 420px;
        background: #CCDAE0;
        margin-top: 0;
    }
    
    form h3{
        font-size: 19.5px;
        line-height: 24px;
        color: #33444C;
        margin: 38px 60px 0 60px;
    }
    
    
    form input, textarea{
        width: 300px;
        margin: 16px 60px 0 60px;
    }
    
    ::placeholder{
        font-size: 14px;
        color: rgba(51, 68, 76, 0.8);
        padding-left: 16px;
    }
    
    #name, #email{
        height: 48px;
    }
    
    #message{
        height: 104px;
        padding-top: 12px;
    }
    
    #divBtnSend{
        margin: 0 60px 0 60px;
    }
    
    #btnSend{
        margin: 24px auto 40px 66px;
    }
    
    #contactInfo{
        width: 300px;
        margin-bottom: 110px;
        margin-top: auto;
    }
    
    #contactInfo h2{
        margin-left: 60px; 
        font-size: 24px;
    }
    
    #contactInfo h4{
        font-size: 18px;
        text-transform: uppercase;
        margin: 2px auto 0 60px;
    }
    
    #contactInfo ul{
        font-size: 14px;
        line-height: 32px;
        margin: 13px auto 0 60px;
    }
    
    footer{
        height: 48px;
    }
}

/*Mobile Horizontal*/

@media only screen and (max-width: 767px){
    #aboutSection{
        height: 100vh;
        background-position: bottom;
        background-size: 100vw;
    }
    
    #menu{
        align-items: center;
        position: fixed;
        width: 100vw;
        height: 48px;
        left: 0;
        top: 0px;
        margin: 0 0 0 0;
    }
    
    #menu ul{
        font-size: 17.5px;
        line-height: 32px;
        letter-spacing: 0.02em;
        margin: 0 !important;
    }
    
    #menu li{
        display: inline;
        margin: auto 40px auto 40px;
    }

    #nameAndAbout{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: absolute;
        width: 540px;
        top: 98px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    #nameHeader{
        width: 225px;
        margin: 0;
    }
    
    #nameHeader h1{
        font-size: 70px;
        line-height: 64px;
        color: #33444C;
    }
    
    #aboutParagraph{
        width: 315px;
    }
    
    #aboutParagraph p{
        width: 290px;
        padding: 78px 0 0 25px;
        margin: 0;
        font-size: 14px;
        line-height: 24px;
    }
    
    .projectBlock{
        display: flex;
        flex-direction: column-reverse;
        width: 450px;
        height: 525px;
        margin: 64px auto 0 auto;
    }
    
    #lastProject{
        margin-bottom: 64px;
    }
    
    .imgProject{
        height: 284.21px;
        width: 100%;
    }
    
    .textProject{
        width: 100%;
        margin-right: 0;
        padding-left: 0;
    }
    
    .textProject h2{
        font-size: 24px;
    }
    
    .textProject p{
        margin-top: 7px;
        font-size: 14px;
        line-height: 24px;
    }
    
    .btnSeeMore{
        margin: 17px 0 40px 0;
    }

    #contactSection{
        background: #EFF2F3;
        margin: 0;
        background-image: url(/Desert.png);
        background-position: bottom;
        background-position-y: -100px;
        background-size: 100vw;
        background-repeat: no-repeat;
    }
    
    #formAndInfo{
        width: 100vw;
        flex-direction: column;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        background: #CCDAE0;
        margin-top: 0;
    }
    
    form h3{
        font-size: 23.5px;
        line-height: 32px;
        color: #33444C;
        margin: 40px auto 0 auto;
        width: 450px;
    }
    
    
    form input, textarea{
        width: 450px;
        margin: 16px 60px 0 60px;
    }
    
    ::placeholder{
        font-size: 14px;
        color: rgba(51, 68, 76, 0.8);
        padding-left: 16px;
    }
    
    #name, #email{
        height: 48px;
    }
    
    #message{
        height: 104px;
        padding-top: 12px;
    }
    
    #divBtnSend{
        margin: 0 60px 0 60px;
    }
    
    #btnSend{
        margin: 32px auto 56px auto;
    }
    
    #contactInfo{
        display: flex;
        width: 540px;
        margin: 0 auto 0 auto;
    }

    #divNameAndTitle{
        width: 50%;
    }
    
    #divContactInfo{
        width: 50%;
        display: flex;
        align-items: flex-end;
    }
    
    #contactInfo h2{
        margin: 18px auto 0 0;
        margin-left: 0; 
        font-size: 24px;
    }
    
    #contactInfo h4{
        font-size: 18px;
        text-transform: uppercase;
        margin: 2px auto 0 0;
    }
    
    #contactInfo ul{
        text-align: right;
        font-size: 14px;
        line-height: 32px;
        margin: 34px 0 18px auto;
    }
    
    footer{
        height: 0;
    }

}

/*Mobile Verticle*/

@media only screen and (max-width: 575px){
  

    #aboutSection{
        margin: 0 15px 0 15px;
        height: auto;
        background-position: bottom;
        background-size: 100vw;

    }
    
    #menu{
        align-items: center;
        position: fixed;
        width: 100vw;
        height: 48px;
        left: 0;
        top: 0px;
        margin: 0 0 0 0;
    }
    
    #menu ul{
        font-size: 17.5px;
        line-height: 32px;
        letter-spacing: 0.02em;
        margin: 0 !important;
    }
    
    #menu li{
        display: inline;
        margin: auto 40px auto 40px;
    }

    #nameAndAbout{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 320px;
        top: 81px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    #nameHeader{
        width: 320px;
        margin: 0;
    }
    
    #nameHeader h1{
        font-size: 70px;
        line-height: 64px;
        color: #33444C;
    }
    
    #aboutParagraph{
        width: 320px;
        margin-top: 43px;
    }
    
    #aboutParagraph p{
        width: 320px;
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 24px;
    }


.projectBlock{
    display: flex;
    width: 100vwx;
    height: 229px;
    margin: 61px 15px 0 15px;
}

#lastProject{
    margin-bottom: 61px;
}

.imgProject{
    max-width: 100%;
    height: auto;
}

.textProject{
    width: 100vw;
    margin-right: 0;
    padding-left: 0;
}

.textProject h2{
    font-size: 24px;
}

.textProject p{
    margin-top: 7px;
    font-size: 14px;
    line-height: 24px;
}

#contactSection{
    background: #EFF2F3;
    margin: 0;
    background-image: url(/Desert.png);
    background-position: bottom;
    background-position-y: -100px;
    background-size: 100vw;
    background-repeat: no-repeat;
}

#formAndInfo{
    width: 100vw;
}

form{
    display: flex;
    justify-content: center;
    width: 100vw;
    background: #CCDAE0;
    margin-top: 0;
    padding: 0 15px 0 15px;
}

form h3{
    font-size: 19.5px;
    line-height: 24px;
    color: #33444C;
    margin-top: 38px;
}


form input, textarea{
    width: 300px;
    margin: 16px 60px 0 60px;
}

::placeholder{
    font-size: 14px;
    color: rgba(51, 68, 76, 0.8);
    padding-left: 16px;
}

#name, #email{
    height: 48px;
}

#message{
    height: 104px;
    padding-top: 12px;
}

#divBtnSend{
    margin: 0 auto 0 auto;
}

#btnSend{
    margin: 24px auto 40px auto;
}

#contactInfo{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 0;
    margin-top: auto;
    margin: 0 15px 0 15px;
}

#divNameAndTitle{
    width: 100vw;
}

#divContactInfo{
    width: 100vw;
}

#contactInfo h2{
    margin: 18px 0 0 0;
    font-size: 24px;
}

#contactInfo h4{
    font-size: 18px;
    text-transform: uppercase;
    margin: 2px auto 0 0;
}

#contactInfo ul{
    font-size: 14px;
    line-height: 32px;
    margin: 13px auto 28px 0;
    text-align: left;
}

footer{
    height: 0;
}

}


