@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #EFF2F3;
}

.container{
    width: 320px;
    height: auto;
    margin: 0 auto 0 auto;
}

/*Navigation*/

.topnav {
    background-color: #F2AD8C;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    top: 0;
    text-align: center;
  }

  #divNavlinks{

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    display: inline-block;
    color: #EFF2F3;
    padding: 14px 24px 14px 24px;
    text-decoration: none;
    font-family: Karla;
    font-size: 17.5px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    font-weight: 500;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    text-decoration: underline !important;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 575px) {
    .topnav a{display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      color: #EFF2F3;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 767px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/*About Section*/

#sectionAbout{
    height: 424px;
    background-image: url(./Desert.png);
    background-position: bottom;
    background-size: 150%;
    background-repeat: no-repeat;
}

#nameAndAbout{
    display: flex;
    flex-direction: column;
}

#headerName{

}

#headerName h1{
    margin: 81px 0 0 0;
    font-family: Karla;
    font-weight: bold;
    font-size: 70px;
    line-height: 64px;
    color: #33444C;
}

#paragraphAbout{

}

#paragraphAbout p{
    margin: 43px 0 0 0;
    font-family: Lora;
    font-size: 14px;
    line-height: 24px;
    color: rgba(51, 68, 76, 0.8);
}

/*Projects Section*/

#sectionProjects{

}

.blockProject{
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
}

h2{
    font-family: Karla;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #33444C;
}

.textProject h2{
    margin: 32px 0 0 0;
}

.textProject p{
    margin: 7px 0 0 0;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(51, 68, 76, 0.85);
}

.btnSeeMore{
    margin: 17px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 168px;
    background: #EC9D79;
    border: 2px solid #F7D7C5;
    box-sizing: border-box;
    box-shadow: 6px 6px 0px #F7D7C5;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
}

.btnSeeMore a{
    color: #EFF2F3;
    text-decoration: none;
}

.btnSeeMore:hover{
    font-weight: 500;
}

.imgProject{
    width: 320px;
}

.imgProject img{
    width: 100%;
    margin: 40px 0 30px 0;
}

/*Contact Section*/
#sectionContact{
    padding: 1px 0 0 0;
    background-image: url(./Desertfaded.png);
    background-position: bottom;
    background-size: 150%;
    background-repeat: no-repeat;
}

#containerContact{
    width: 100vw;
}

#formContact{
    display: inline-block;
    text-align: center;
}

form{
    background: #CCDAE0;
    overflow: hidden;
}

form h3{
    width: 320px;
    font-family: Karla;
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    color: #33444C;
    text-align: left;
    margin: 25px auto 0 auto;
}

input, textarea{
    width: 288px;
    margin-top: 16px;
    border: none;
    padding: 0;
    background: #EFF2F3;
    outline: none;
    color: rgba(51, 68, 76, 0.85);
    padding: 0 16px 0 16px;
    font-size: 14px;
    line-height: 24px;
    Font-family: Lora;
}

input{
    height: 48px;
}

textarea{
    height: 152px;
}

::placeholder{
    font-family: Lora;
    font-size: 14px;
    line-height: 32px;
    color: rgba(51, 68, 76, 0.6);
    padding: 0;
}


#btnSend{
    display: block;
    margin: 24px auto 40px auto;
    height: 48px;
    width: 168px;
    left: 0px;
    top: 0px;
    background: #EFF2F3;
    border: 3px solid #33444C;
    border-radius: 50px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #33444C;
}

#btnSend:hover{
    font-weight: 500;
}

#infoContact{
    width: 320px;
    margin: 0 auto 0 auto;
    text-align: left;
}

#divNameAndTitle h2{
    margin: 42px 0 0 0;
}

h4{
    margin: 2px 0 0 0;
    font-family: Karla;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #33444C;
    text-transform: uppercase;
}

#divContactInfo{

}

#divContactInfo ul{
    list-style: none;
    padding: 0;
    margin: 10px 0 25px 0;
    font-family: Lora;
    font-size: 14px;
    line-height: 24px;
    color: rgba(51, 68, 76, 0.85);
}

footer{
    height: 0;
}

@media screen and (min-width: 576px){
    .container{
        width: 540px;
    }

    #sectionAbout{
        height: 100vh;
        background-size: 100vw;
        background-position-y: -40px;
    }
    
    #nameAndAbout{
        flex-direction: row;
    }
    
    #headerName{
        width: 41.7%;
    }

    #headerName h1{
        margin: 97px 0 0 0;
        font-size: 70px;
        line-height: 64px;
    }
    
    #paragraphAbout{
        width: 58.3%;
        margin: 0 0 0 0;
        padding: 0 0 0 27px;
    }

    #paragraphAbout p{
        margin: 175px 0 0 0;
        font-family: Lora;
        font-size: 14px;
        line-height: 24px;
        color: rgba(51, 68, 76, 0.85);
    }
    
    .blockProject{
        padding: 0 45px 0 45px;
    }
    
    .textProject h2{
        margin: 63px 0 0 0;
    }
    
    .textProject p{
        margin: 7px 0 0 0;
    }
    
    .imgProject{
        width: 450px;
    }

    #sectionContact{
        padding: 1px 0 0 0;
        background-position: bottom;
        background-size: 100vw;
        background-repeat: no-repeat;
    }
    
    #containerContact{
        width: 100vw;
    }
    
    #formContact{
        display: inline-block;
        text-align: center;
    }
    
    form{
        background: #CCDAE0;
        overflow: hidden;
    }
    
    form h3{
        width: 450px;
        font-size: 23.5px;
        margin: 40px auto 0 auto;
    }
    
    input, textarea{
        width: 418px;
    }
    
    textarea{
        height: 104px;
    }
    
    #infoContact{
        display: flex;
        width: 540px;
        margin: 0 auto 0 auto;
        text-align: left;
    }
    
    #divNameAndTitle{
        width: 50%;
    }

    #divNameAndTitle h2{

        margin: 18px 0 0 0;
    }
    
    h4{
        margin: 2px 0 0 0;
    }
    
    #divContactInfo{
        width: 50%;
        text-align: right;
    }

    #divContactInfo ul{
        margin: 34px 0 28px 0;
    }
    
    footer{
        height: 0;
    }

@media screen and (min-width: 768px){
    #navbar {
        left: 50%;
        width: 180px;
        margin-left: 180px;
        text-align: left;
      }

    #divNavlinks{
        margin: 56px auto 36px auto;
    }

      .topnav a {
        display: block;
        margin: 12px auto 0 49px;
        padding: 0;
        font-family: Karla;
        font-size: 17.5px;
        letter-spacing: 0.02em;
      }

      .horizontal{
        left: 0 !important;
        background: #EFF2F3 !important;
        position: fixed;
        width: 100vw !important;
        margin: 0 !important;
    }

    .horizontal div{
        margin: 0 auto 0 auto !important;
        display: flex;
        width: 516px;
        height: 64px;
        justify-content: space-between;
        align-items: center;
    }

    .horizontal a{
        margin: 0 !important;
        padding: 0 !important;
        color: #33444C !important;
        font-size: 16px;
    }

    .horizontal a.icon {
        display: none !important;
      }
    .container{
        width: 720px;
    }

    #sectionAbout{
        overflow: hidden;
        height: 704px;
        background-size: 100vw;
        background-position: bottom;
    }
    
    #nameAndAbout{
        flex-direction: column;
        margin: 177px 0 155px 0;
    }
    
    #headerName{
        width: 300px;
    }

    #headerName h1{
        margin: 0 0 0 0;
        font-size: 94.5px;
        line-height: 80px;
    }
    
    #paragraphAbout{
        width: 480px;
        margin: 0 0 0 240px;
        padding: 0;
    }

    #paragraphAbout p{
        margin: 48px 0 0 0;
        font-size: 20px;
        line-height: 40px;
    }
    
    .blockProject{
        flex-direction: row;
        padding: 0;
        margin: 40px 0 60px 0;
    }
    
    .textProject{
        width: 50%;
        padding: 0;
    }

    .textProject h2{
        margin: 0 0 0 60px;
    }
    
    .textProject p{
        font-size: 14px;
        line-height: 24px;
        margin: 7px 0 0 60px;
    }
    
    .btnSeeMore{
        margin: 17px 0 0 60px;
    }

    .imgProject{
        width: 50%;
    }

    .imgProject img{
        margin: 5px 0 0 0;
    }

    #sectionContact{
        padding: 1px 0 0 0;
        background-position: bottom;
        background-size: 100vw;
        background-repeat: no-repeat;
    }
    
    #containerContact{
        width: 720px;
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: row;
    }
    
    #formContact{
        display: flex;
        width: 100%;
    }
    
    form{
        width: 420px;
        background: #CCDAE0;
        overflow: hidden;
    }
    
    form h3{
        width: 300px;
        font-size: 19.5px;
        line-height: 24px;
        margin: 38px auto 0 60px;
    }
    
    input, textarea{
        width: 268px;
    }
    
    textarea{
        height: 128px;
    }
    
    ::placeholder{
        font-size: 14px;
    }

    #infoContact{
        width: 300px;
        display: flex;
        flex-direction: column;
        margin: 224px 0 0 0;
        text-align: left;
    }
    
    #divNameAndTitle{
        width: 50%;
        margin: 0 auto 0 60px;
    }

    #divNameAndTitle h2{

        margin: 0;
    }
    
    h4{
        margin: 2px 0 0 0;
    }
    
    #divContactInfo{
        text-align: left;
    }

    #divContactInfo ul{
        width: 100%;
        margin: 13px auto 0 60px;
    }
    
    footer{
        height: 48px;
    }
}

@media screen and (min-width: 992px){
    #navbar {
        left: 50%;
        width: 240px;
        margin-left: 180px;
        text-align: left;
      }
      
      #divNavlinks{
          margin: 96px auto 52px auto;
      }

      .topnav a {
        display: block;
        margin: 20px auto 0 79px;
        padding: 0;
        font-family: Karla;
        font-size: 17.5px;
        letter-spacing: 0.02em;
      }

      .horizontal{
        left: 0 !important;
        background: #EFF2F3 !important;
        position: fixed;
        width: 100vw !important;
        margin: 0 !important;
    }

    .horizontal div{
        margin: 0 auto 0 auto !important;
        display: flex;
        width: 516px;
        height: 64px;
        justify-content: space-between;
        align-items: center;
    }

    .horizontal a{
        margin: 0 !important;
        padding: 0 !important;
        color: #33444C !important;
        font-size: 16px;
    }

    .horizontal a.icon {
        display: none !important;
      }

    .container{
        width: 960px;
    }

    #sectionAbout{
        overflow: hidden;
        height: 100vh;
        background-size: 100vw;
    }
    
    #nameAndAbout{
        flex-direction: row;
        margin: 248px 0 auto 0;
    }
    
    #headerName{
        width: 41.7%;
    }

    #headerName h1{
        margin: 0 0 0 0;
        font-size: 101px;
        line-height: 96px;
    }
    
    #paragraphAbout{
        width: 58.3%;
        margin: 110px 0 0 0;
    }

    #paragraphAbout p{
        font-size: 24px;
        line-height: 48px;
        margin: 0;
    }
    
    .blockProject{
        flex-direction: row;
        padding: 0;
        margin: 40px 0 60px 0;
    }
    
    .textProject{
        width: 50%;
        padding: 0;
    }

    .textProject h2{
        font-size: 28px;
        margin: 0 0 0 80px;
    }
    
    .textProject p{
        font-size: 16px;
        line-height: 24px;
        margin: 14px 0 0 80px;
    }
    
    .btnSeeMore{
        margin: 17px 0 0 80px;
    }

    .imgProject{
        width: 50%;
    }

    .imgProject img{
        margin: 0;
    }

    #sectionContact{
        padding: 1px 0 0 0;
        background-position: bottom;
        background-size: 100vw;
        background-repeat: no-repeat;
    }
    
    #containerContact{
        width: 960px;
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: row;
    }
    
    #formContact{
        display: flex;
        width: 100%;
    }
    
    form{
        width: 560px;
        background: #CCDAE0;
        overflow: hidden;
    }
    
    form h3{
        width: 400px;
        font-size: 26px;
        line-height: 32px;
        margin: 47px auto 0 80px;
    }
    
    input, textarea{
        width: 368px;
    }
    
    textarea{
        height: 200px;
    }
    
    ::placeholder{
        font-size: 16px;
    }

    #btnSend{
        margin: 32px auto 48px auto;
    }

    #infoContact{
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: 295px 0 0 0;
        text-align: left;
    }
    
    #divNameAndTitle{
        width: 50%;
        margin: 0 auto 0 80px;
    }

    #divNameAndTitle h2{
        font-size: 28px;
        margin: 0;
    }
    
    h4{
        font-size: 22px;
        margin: 5px 0 0 0;
    }
    
    #divContactInfo{
        text-align: left;
    }

    #divContactInfo ul{
        width: 100%;
        margin: 13px auto 0 80px;
        font-size: 16px;
        line-height: 32px;
    }
    
    footer{
        height: 72px;
    }
}

@media screen and (min-width: 1200px){

    #navbar {
        left: 50%;
        width: 285px;
        margin-left: 285px;
        text-align: left;
      }
      
      #divNavlinks{
          margin: 110px auto 59px auto;
      }

      .topnav a {
        display: block;
        margin: 25px auto 0 95px;
        padding: 0;
        font-size: 20px;
        letter-spacing: 0.03em;
      }
      
      .horizontal{
        left: 0 !important;
        background: #EFF2F3 !important;
        position: fixed;
        width: 100vw !important;
        margin: 0 !important;
    }

    .horizontal div{
        margin: 0 auto 0 auto !important;
        display: flex;
        width: 516px;
        height: 72px;
        justify-content: space-between;
        align-items: center;
    }

    .horizontal a{
        margin: 0 !important;
        padding: 0 !important;
        color: #33444C !important;
        font-size: 18px;
    }

    .horizontal a.icon {
        display: none !important;
      }

    
    .container{
        width: 1140px;
        padding: 1px 0 0 0;
        margin: -1px auto 0 auto;
        overflow: auto;
    }

    #sectionAbout{
        overflow: hidden;
        height: 100vh;
        background-position-y: -150px;
        background-size: 100vw;
    }
    
    #nameAndAbout{
        flex-direction: row;
        margin: 292px 0 auto 0;
    }
    
    #headerName{
        width: 41.7%;
    }

    #headerName h1{
        margin: 0 0 0 0;
        font-size: 120px;
        line-height: 104px;
    }
    
    #paragraphAbout{
        width: 58.3%;
        margin: 120px 0 0 0;
    }

    #paragraphAbout p{
        font-size: 26px;
        line-height: 48px;
        margin: 0;
    }


    #sectionProjects{

    }
    
    .blockProject{
        flex-direction: row;
        margin: 136px 0 0 0;
    }
    
    .textProject{
        width: 50%;
        padding: 0;
    }

    .textProject h2{
        font-size: 28px;
        margin: 0 0 0 95px;
    }
    
    .textProject p{
        font-size: 18px;
        line-height: 32px;
        margin: 18px 0 0 95px;
    }
    
    .btnSeeMore{
        margin: 16px 0 0 95px;
    }

    .imgProject{
        width: 50%;
    }

    .imgProject img{
        margin: 0;
    }

    #sectionContact{
        background-position: bottom;
        background-size: 100vw;
        background-repeat: no-repeat;
    }
    
    #containerContact{
        width: 1140px;
        margin: 136px auto 0 auto;
        display: flex;
        flex-direction: row;
    }
    
    #formContact{
        display: flex;
        width: 100%;
    }
    
    form{
        width: 760px;
        background: #CCDAE0;
        overflow: hidden;
    }
    
    form h3{
        width: 570px;
        font-size: 37.6px;
        line-height: 48px;
        margin: 76px auto 0 95px;
    }
    
    input, textarea{
        width: 538px;
        height: 56;
        margin: 32px 0 0 0;
        font-family: Lora;
        font-size: 18px;
        line-height: 32px;
    
    }
    
    textarea{
        height: 160px;
    }
    
    ::placeholder{
        font-size: 18px;
    }

    #btnSend{
        margin: 40px auto 64px auto;
    }

    #infoContact{
        width: 380px;
        display: flex;
        flex-direction: column;
        margin: 370px 0 0 0;
        text-align: left;
    }
    
    #divNameAndTitle{
        width: 50%;
        margin: 0 auto 0 95px;
    }

    #divNameAndTitle h2{
        font-size: 28px;
        margin: 0;
    }
    
    h4{
        font-size: 22px;
        margin: 5px 0 0 0;
    }
    
    #divContactInfo{
        text-align: left;
    }

    #divContactInfo ul{
        width: 100%;
        margin: 13px auto 0 95px;
        font-size: 18px;
        line-height: 32px;
    }
    
    footer{
        height: 72px;
    }
}
